<!--App About Page HTML.-->
<section class="pt-5">
    <div class="container py-4 text-center">
        <div class="text-center title-section-skill mb-4">
                <h2 class="mb-1">Some Stuff About Me</h2>
                <span>STILL LOTS TO KNOW</span> 
                <hr color="red" size="1" width="150">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    I'm <strong>Devi Shailender Singh</strong> User Experience Consultant and Front-End Developer. 
                    I'm good at technologies like HTML5, CSS3, Responsive Web Design, JavaScript, jQuery, Angular 4, Windows Apps, SharePoint branding.
                    I'm also good UX Designer and Information Architecture; can work on web applications and Interactive Prototypes.
                </p>
                <p>
                    Asking users to adopt new behaviors or even modify their existing behaviors is very, very hard. – Khoi Vin
                </p>
                <button type="button" class="btn btn-danger btn-resume mt-sm-3 mb-sm-0 mb-3"  (click)="onResume()">Download Resume</button>
            </div>
            
            <div class="col-md-6">
                <p> 
                    I spend my days crafting websites and creating Prototypes. I work for all size of companies from small local businesses right up to huge international companies. I’ve just spent 6 years in Tech World.
                </p>
                <p class="mb-2">
                    Wondering how I work ? My Design/Development process always starts with a pencil and paper, scribbling ideas and concepts, thinking about the problem and the solution.
                    Once I have an idea of what I want to achieve, I’ll then sit down at my computer and start with wire frames and low level mockups.
                </p>
                <p>
                    I love both development and designing..!!
                </p>
            </div>
        </div>
    </div>
    <div class="aboutFooter">
        <div class="text-center">
                Devi Shailender Singh <br>"I'm open to friendly emails.
                <a href="mailto:shailender267@live.co.uk?subject=Mail from Portfolio Site">Shailender267@live.co.uk</a> <br/>
                No time for mail? Call me @ +1 (603)-858-4491.
        </div>
    </div>
</section>
<!--App About Page HTML.-->