 <!--App contact Page HTML.-->
 <section class="pt-5 contact-section">
    <div class="container pt-4 text-center">
        <div class="text-center title-section-skill mb-4">
                <h2 class="mb-1">Get in touch</h2>
                <span>Wanna get in touch or talk about a project?</span> 
                <hr color="red" size="1" width="150">
        </div>
    </div>
    <div class="container pb-4">
            <form>
                <div class="col-md-8 mr-auto ml-auto row">
                    <div class="col mt-4">
                        <input type="text" class="form-control" placeholder="NAME">
                    </div>
                    <div class="col mt-4"> 
                        <input type="email" class="form-control" id="inputEmail4" placeholder="EMAIL">
                    </div>
                    <div class="col-sm-12 mt-4">
                        <input type="text" class="form-control" id="subject" placeholder="SUBJECT">
                    </div>
                    <div class="col-sm-12 mt-4">
                        <textarea class="form-control" aria-label="With textarea" placeholder="MESSAGE"></textarea>
                    </div>
                    <button type="button" class="btn btn-danger btn-resume mt-4 ml-auto mr-auto">Send Message</button>
               </div> 
            </form>
    </div>
    <footer>
        <div class="row mr-0 ml-0 odd-pad">
            <div class="col-sm-4 text-center mb-sm-4 mb-3">
               <a href="https://github.com/shailender267" target="_blank" class="socialIcons gitHub"></a>
               <a href="https://www.linkedin.com/in/devishailendersingh/" target="_blank" class="socialIcons linkedIn"></a>
               <a href="https://www.facebook.com/shailender267" target="_blank" class="socialIcons faceBook"></a>
            </div>
            <div class="col-sm-4 text-center mb-3"> 
                    <a href="mailto:shailender267@live.co.uk?subject=Mail from Portfolio Site" class="emailIcon"></a>
                    <a href="mailto:shailender267@live.co.uk?subject=Mail from Portfolio Site"> <span>Shailender267@live.co.uk</span></a>                    
            </div>
            <div class="col-sm-4 text-center">
                <span class="phoneIcon"></span>    
                <span>+1 (603) 858-4491</span>
            </div>
            <hr color="#303e53" size="1" width="1064">
        </div>
      
    </footer>
</section>
<!--App contact Page HTML.-->