<!--App Component HTML.-->


<header class="nav-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm navbar-inverse justify-content-end sticky-top">
                    <div class="container">
                        <a href="#" class="mt-0 logo-img">
                            <!--  <img class=""  alt="Devi Shailender Singh"> -->
                            <!-- <figcaption>Devi Shailender Singh</figcaption> -->
                        </a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="home">Home</a>
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="skill">Skills</a>
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="projects">Project</a>
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="about">About</a>
                                <a class="nav-item nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>